// Here you can add other styles

.little-spacing {
    margin-left: 10px;
}

.max-dimensions-small {
    max-width: 200px;
    max-height: 180px;
}

.max-dimensions-medium {
    max-width: 400px;
    max-height: 280px;
}

.center-element {
    margin: auto;
    display: block;
    position: absolute;
}

.space-allaround{
    margin: 20px
}

.in-linea{
    display: inline-block;
}

.red-border{
    border: solid 2px red;
}
